$dark: #1f2937;
$gray: #848484;
$light: #fff;
$yellow:#eaaa2a;
$dark-1:#222;
$dark-2:#333;
$light-1:#f2f2f2;
$dark-3:#030712;

// Button colors
$gray-1:#6b7280;
$red:#dc2626;
$yellow: #ca8a04;
$gray-2: #475569;


