$default-font: "Poppins", sans-serif;

$bg-large-1: 85.375rem;
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-small: 43.75em; // 700px
$bp-extra-small: 40.625em; // 600px
$bp-smallest: 31.25em; // 500px
$small-desktop-height: 48em; // 768px
