@import "../../styles/colors";
@import "../../styles/variables";

table {
  width: 100%;
  border-collapse: collapse;
  
  
  th,
  td {
    border: 1px solid $light;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: $light-1; /* Light mode background color */
    color: $dark-2; /* Light mode text color */
  }

  td {
    background-color: $light; /* Light mode background color */
    color: $dark-2; /* Light mode text color */
  }

  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    th {
      background-color: $dark-1; /* Dark mode background color */
      color: $light; /* Dark mode text color */
    }

    td {
      background-color: $dark-1; /* Dark mode background color */
      color: $light; /* Dark mode text color */
    }
  }
}
