@import "../../styles/colors";
@import "../../styles/variables";


header {
  background-color: $dark;
  color: $light;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
